#map_canvas{
	display:none;
	width:0%
}
#directions{
float:none;
width:100%;
padding-top:15%;
}
#graph{
	display:none;
	width:0%
}
#stats{
float:none;
width:100%;
padding-top:20%;
}
#eva{
	display:none;
	width:0%
}
#info{
float:none;
width:100%;
padding-top:25%;
}

